
<div class="page-container single-project-page">
  <h1>{{ project.title }}</h1>
  <h2>{{ project.subtitle }}</h2>
  <p [innerHTML]="project.description"></p>
  <img [src]="'assets/drop-the-beat/drop-the-beat-three-pages.png'" />
  <h2>Video</h2>
  <div class="video-wrapper">
    <iframe width="75%" height="700" src="https://www.youtube.com/embed/ym8ZSBsb4_Q" title="Drop the Beat: Final Group Project" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
</div>