
<div class="page-container single-project-page">
  <h1>{{ project.title }}</h1>
  <h2>{{ project.subtitle }}</h2>
  <p>{{ project.description }}</p>

  <project-info-table [data]="project.tableData"></project-info-table>

  <h2>My contributions</h2>
  <p>I observed pedestrian behavior at the intersection and used thematic analysis to identify categories of how people navigated it, which informed the simulation's design. I also designed the UI for the simulation app's toolbar.</p>
  <!--<img [src]="'assets/acdc/acdc-toolbar.png'" class="img-border"/>

  <img [src]="'assets/acdc/acdc-button-design.png'" class="img-border"/>-->

  <h2>Video</h2>
  <div class="video-wrapper">
    <iframe width="75%" height="700" src="https://www.youtube.com/embed/Loj6AkNImXg" title="ACDC - Final Video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
</div>