.about-container {
  
    .intro-container {
      text-align: left;
      display: flex;
      align-items: center;     /* vertical centering */
      margin: 4rem auto 4rem auto;
    }

    /* Mobile / narrow screens */
    @media (max-width: 850px) {
      .intro-container {
        flex-direction: column;   /* stack */
        align-items: flex-start;  /* or center, depends on your design */
        text-align: left;         /* or center */
        margin: 0 auto 0 auto;
      }
    }

    .intro-text-container {
      padding-left: 8%;
    }
  
    .profile-pic {
      width: 20rem;
      height: 20rem;
      border-radius: 50%;
      object-fit: cover;
    }

    .bullet-points {
      display: flex;
      align-items: center;
      justify-content: left;
      gap: 1rem;
    }
  }

.contact-info {
  a {
    text-decoration: none;
    color: inherit;
    &:hover {
      text-decoration: underline;
    }
  }
}

.contact-details {
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 3rem;
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background: #f8efe8;
  display: flex;
  flex-direction: column; /* <- stacks items */
  justify-content: center;
  align-items: center;
  text-align: center;
}


  
  