<div class="page-container">
  <div class="about-container">
    <div class="intro-container">
      <!-- Profile gif -->
      <video
      muted
      playsinline
      autoplay
      loop
      preload="auto"
      aria-hidden="true"
      style="max-width: 100%; height: auto;">
      <source src="assets/user-tests-and-me.webm" type="video/webm" />
      </video>
      
      <div class="intro-text-container">
        <!-- Heading -->
        <h1>Hi, I'm Stella</h1>
      
        <!-- About text -->
        <div class="about-text">
          <p>I’m a UX Engineer with 3 years of experience in UX design and front-end development, and an academic background in interaction design and immersive technologies. I create research-driven, intuitive user experiences—and build them end-to-end. A real team player, I bring energy and humor to work. I'm currently based in Stockholm and am open to opportunities in Berlin, or remote.</p>
        </div>
      
        <!-- Resume Button -->
        <a
          href="assets/Stella_Millwood_Resume.pdf"
          download="Stella_Millwood_Resume.pdf">
          <button matButton="tonal">
            <mat-icon>download</mat-icon>
            Resumé
          </button>
        </a>
        
      </div>

    </div>

    <div class="contact-details surface-container">
      <h2 class="contact-details_h2">Get in touch</h2>
      <div class="contact-info">
        <p class="bullet-points">
          <mat-icon>email</mat-icon>
          <a href="mailto:stella.millwood@gmail.com">stella.millwood@gmail.com</a>
        </p>
      </div>
    </div>

    <!-- Removed section
    <h2>Education</h2>
    <div>
      <p class="bullet-points">
        <mat-icon>school</mat-icon>
        Master's degree in computer and systems sciences / design for immersive technologies
      </p>
      <p class="bullet-points">
        <mat-icon>school</mat-icon>
        Bachelor's degree in computer and systems sciences / interaction design
      </p>
    </div>
    
    <h2>Interests</h2>
    <div>
      <p class="bullet-points">
        <mat-icon>theater_comedy</mat-icon>
        Arts and culture, such as music, dance, film and standup comedy
      </p>
      <p class="bullet-points">
        <mat-icon>restaurant</mat-icon>
        International cooking, such as Szechuan and Lebanese
      </p>
      <p class="bullet-points">
        <mat-icon>public</mat-icon>
        Current affairs, such as global events and public discourse
      </p>
    </div>
    -->
  </div>
</div>