<div class="page-container">
  <div class="about-container">
    <div class="intro-container">
      <!-- Profile Picture -->
      <img src="assets/profile.jpg" alt="Stella" class="profile-pic" />
      
      <div class="about-container">
        <!-- Heading -->
        <h1>Hi, I'm Stella</h1>
      
        <!-- About text -->
        <div class="about-text">
          <p>I’m a UX Engineer with 2.5+ years of experience in UX design and front-end development, with an academic background in interaction design and immersive technology. I create research-driven, intuitive user experiences—and build them end-to-end. A real team player, I bring energy and humor to work and am open to opportunities in Berlin, or remote.</p>
        </div>
      
        <!-- Resume Button -->
        <a href="assets/Stella_Resume.pdf" download>
          <button mat-raised-button color="primary">Download Resume</button>
        </a>
      </div>

    </div>

    <!-- Education -->
    <h2>Education</h2>
    <div>
      <p class="bullet-points">
        <mat-icon>school</mat-icon>
        Master's degree in computer and systems sciences / design for immersive technologies
      </p>
      <p class="bullet-points">
        <mat-icon>school</mat-icon>
        Bachelor's degree in computer and systems sciences / interaction design
      </p>
    </div>
    
    <!-- Interests -->
    <h2>Interests</h2>
    <div>
      <p class="bullet-points">
        <mat-icon>theater_comedy</mat-icon>
        Arts and culture, such as music, dance, film and standup comedy
      </p>
      <p class="bullet-points">
        <mat-icon>restaurant</mat-icon>
        International cooking, such as Szechuan and Lebanese
      </p>
      <p class="bullet-points">
        <mat-icon>public</mat-icon>
        Current affairs, such as global events and public discourse
      </p>
    </div>

    <!-- Contact info -->
    <h2>Get in touch</h2>
    <div class="contact-info">
      <p class="bullet-points">
        <mat-icon>email</mat-icon>
        <a href="mailto:stella@example.com">stella@example.com</a>
      </p>
      <p class="bullet-points">
        <mat-icon>linkedin</mat-icon>
        <a href="https://www.linkedin.com/in/stella" target="_blank">linkedin.com/in/stella</a>
      </p>
    </div>
  </div>
</div>