
<div class="page-container single-project-page">
  <h1>{{ project.title }}</h1>
  <h2>{{ project.subtitle }}</h2>
  <p>{{ project.description }}</p>
  <img [src]="project.image" class="img-border"/>
  <h2>What I did</h2>
  <ul>
    <li>Ideated and defined input methods</li>
    <li>Designed virtual and physical interactive elements</li>
    <li>Designed the landscape that was projected onto the tabletop</li>
    <li>Collected data through observations, interviews and questionnaires</li>
    <li>Analyzed data through thematic analysis and descriptive statistics</li>
    <li>Generated design recommendations based on findings</li>
  </ul> 
  <h2>Video</h2>
  <div class="video-wrapper"> 
    <iframe width="75%" height="700" src="https://www.youtube.com/embed/19pok3HLCRM" title="IMRS Project, Stockholm University" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
</div>