
<div class="page-container">
  <h1>{{ project.title }}</h1>
  <h2>{{ project.subtitle }}</h2>
  <p>{{ project.description }}</p>
  <img [src]="'assets/g-force/g-force-laser.png'" class="img-border"/>
  <h2>Challenges</h2>
  <p>The main design challenges revolved around sensory misalignment and accessibility. To create a sense of presence for the user sensory stimuli need to be aligned between the physical and virtual world. For example, when kicking the virtual ball in VR users felt a physical resistance on their foot too (by also kicking a real ball). Also, I redesigned the UI multiple times to improve readability. For example, I increased the font size and changed the opacity of the panel. </p>
  <h2>Video</h2>
  <div class="video-wrapper"> 
    <iframe width="75%" height="700" src="https://www.youtube.com/embed/Mtdz20y-If8" title="G Force video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
</div>