:host {
  display: block;
  width: 100%;
  max-width: 100%;
}

.clickable-card {
  width: 100%;           /* full width of the column */
  max-width: 100%;
  height: 100%;
  cursor: pointer;
  transition: transform 0.2s;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.clickable-card .card-img {
  width: 100%;
  aspect-ratio: 16 / 9; /* maintains 16:9 ratio */
  object-fit: cover;
  object-position: center;
  margin-bottom: 1rem;
}

/* Space under the title */
.clickable-card mat-card-title {
  display: block; /* ensure margin works */
  margin-bottom: 1rem; /* space below the title */
}

.clickable-card .card-text {
  margin-bottom: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;  
  -webkit-box-orient: vertical;
  overflow: hidden;

  flex-grow: 1; /* key: allows cards to expand to tallest in row */
}


.clickable-card:hover {
  transform: scale(1.02);
}

.card-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;   /* number of lines you want */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
  