:host {
  display: block;
  width: 100%;
  max-width: 100%;
}

.clickable-card {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  background-color: #FFFFFF;
  cursor: pointer;
  transition: transform 0.2s;
}


.card-image {
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 30rem;
}


.clickable-card:hover {
  transform: scale(1.02);
}
  