
<div class="page-container">
  <h1>{{ project.title }}</h1>
  <h2>{{ project.subtitle }}</h2>
  <p>{{ project.description }}</p>
  <img 
  [src]="'assets/flourish/flourish-three-pages.png'"/>
  <h2>Video</h2>
  <div class="video-wrapper"> 
    <iframe width="75%" height="700" src="https://www.youtube.com/embed/-Up9a1UgVzY?si=ccitxywEVkXZajCZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
</div>