<mat-toolbar color="primary">
  <span style="flex: 1 1 auto;">Stella Millwood</span>

  <button mat-button [routerLink]="['/']">About</button>

  <button mat-button [matMenuTriggerFor]="projectsMenu" #menuTrigger="matMenuTrigger">
    Projects
    <mat-icon>{{ menuTrigger.menuOpen ? 'expand_less' : 'expand_more' }}</mat-icon>
  </button>

  <mat-menu #projectsMenu="matMenu">
    <button mat-menu-item [routerLink]="['/projects/project1']">Project 1</button>
    <button mat-menu-item [routerLink]="['/projects/project2']">Project 2</button>
    <button mat-menu-item [routerLink]="['/projects/project3']">Project 3</button>
    <button mat-menu-item [routerLink]="['/projects/project4']">Project 4</button>
    <button mat-menu-item [routerLink]="['/projects/project5']">Project 5</button>
    <button mat-menu-item [routerLink]="['/projects/project6']">Project 6</button>
    <button mat-menu-item [routerLink]="['/projects/project7']">Project 7</button>
    <button mat-menu-item [routerLink]="['/projects/project8']">Project 8</button>
    <button mat-menu-item [routerLink]="['/projects/project9']">Project 9</button>
    <button mat-menu-item [routerLink]="['/projects/project10']">Project 10</button>
    <button mat-menu-item [routerLink]="['/projects/project11']">Project 11</button>
  </mat-menu>
</mat-toolbar>

<router-outlet></router-outlet>
