.toolbar-title {
  flex: 1 1 auto;
}

.desktop-links {
  display: flex;
}

.mobile-hamburger {
  display: none;
}

.spacer {
  flex: 1 1 auto;
}

@media (max-width: 850px) {
  .desktop-links {
    display: none;
  }
  .mobile-hamburger {
    display: block;
  }
}