
<div class="page-container single-project-page">
  <h1>{{ project.title }}</h1>
  <h2>{{ project.subtitle }}</h2>
  <!--<p>{{ project.description }}</p>-->
  
  <project-info-table [data]="project.tableData"></project-info-table>

  <h2>Stakeholder Request → Reframed Need</h2>
  <p>The initiative originated from headquarters stakeholders who, at first, requested dashboards with data visualizations. Early discussions revealed 
    the issue was not visualization alone. Users struggled with navigation, information structure, and finding key actions across complex budget 
    types. This reframed the assignment from “add dashboards” to “research how users find and understand relevant data overviews and identify pain points”.</p>

  <!--<h2>Original Interface</h2>
  <img [src]="'assets/stella-budget-prognos/tabell.png'" class="img-border" alt-text="Budget table"/>
  <p class="caption">This is a typical table in the budget application today - before any design updates. I've replaced the real data with dummy data. </p>


  <h2>Organizational Dynamics</h2>
  <p>Several departments expressed concern that previous initiatives were HQ-centric and did not represent users working closer to operational work. 
    This became a critical factor in how research was designed and how participants were selected.</p> -->

  <h2>Exploratory Interviews and User Tests</h2>
  <p>One department expressed that their needs had been underrepresented in previous projects. In response, I partnered with an 
    experienced business controller from the underrepresented department to define the user sample and co-create a combined interview and user test 
    script focused on navigation and data understanding. </p>
  <ul>
    <li>10 users</li>
    <li>60-minute individual sessions</li>
    <li>3 user roles: business controllers, operations coordinators, managers</li>
    <li>3 departments represented across different mission areas</li>
  </ul>

  <h2>Analysis Through Affinity Mapping</h2>
  <p>The insights were continuously validated with a business controller to ensure domain accuracy and reduce interpretation bias.</p>

  <img [src]="'assets/stella-budget-prognos/affinity-map.png'" class="img-border" alt-text="Affinity map of tagged data."/>
  <p class="caption">Affinity map of tagged data.</p>

  <h2>Key Findings</h2>
  <ul>

    <li>Unclear folder names and hierarchies make it difficult to find relevant data.
    </li>
    <li>Users, at times, depend on their memory to navigate the application.
    </li>
    <li>Difficult to compare data between reports to gain an overview.
      <ul>
        <li>Pen, paper and calculator are sometimes used.</li>
      </ul>
    </li>
    <li>Lack of visual cues and guidance make it difficult to contextualize data, identify outliers, and perform actions with intent and understanding.
      <ul>
        <li>Trial and error, even with experienced users.</li>
        <li>Manual work to recalulate and trace the data in order to understand it and put it into context.</li>
      </ul>
    </li>
    <li>Heavy reliance on Excel</li>
    <li>Inconsistent ways to interpret the same data across systems make it difficult to understand the data.</li>
  </ul>

  <h2>Problem Statements</h2>
  <p>Based on findings, I developed concise, actionable problem statements. I presented them to the stakeholders, 
    and now a prioritization is needed in order to narrow the scope.</p>
  <img [src]="'assets/stella-budget-prognos/problem_statements.png'" class="img-border" alt-text="Problem statements"/>
  <p class="caption">Problem statements</p>

  <!--<h2>Next Steps</h2>
  <ul>
    <li>Workshop with either stakeholders, user or both to prioritize which challenges to focus on first.</li>
    <li>Collaborate with consultant developers to better grasp the UI possibilities and limitations</li>
  </ul>-->
  
  <!--<h2>Reflections</h2>
  <p>The analysis helped me clarify what level of domain understanding was necessary for me as a UX designer to have, and where to set boundaries 
    to avoid deep domain specialization while still solving the right problems.</p> -->
</div>
