
<div class="page-container single-project-page">
  <h1>{{ project.title }}</h1>
  <h2>{{ project.subtitle }}</h2>
  <p>{{ project.description }}</p>
  <img [src]="'assets/tajma/new/Weekview_editable.png'" class="img-border"/>
  <h2>In-production design when I started</h2>
  <img [src]="'assets/tajma/old/Levererad_vecka.png'" class="img-border"/>
  <img [src]="'assets/tajma/old/Veckovy_Innan_Dsignsystemet.png'" class="img-border"/>
  <h2>Before and After Integrating the Design System</h2>
  <div class="image-row">
    <img [src]="'assets/tajma/old/Kalender.png'" class="img-border"/>
    <img [src]="'assets/tajma/old/Kalender_Designsystemet.png'" class="img-border"/>
  </div>
  <div class="image-row">
    <img [src]="" class="img-border"/>
    <img [src]="'assets/tajma/new/news_view.png'" class="img-border"/>
  </div>
  <div class="image-row">
    <img [src]="'assets/tajma/old/add-arbetsmoment.png'" class="img-border"/>
    <img [src]="'assets/tajma/new/Weekview_add_task_with_description.png'" class="img-border"/>
  </div>
  <h2>Before and After Making Table Accessible to Screen-readers</h2>
  <img [src]="''" class="img-border" alt="Accessibility-image"/>
  <h2>Responsive design</h2>
  <div class="image-row" >
    <img [src]="'assets/tajma/new/Android_Expanded.png'" class="img-border"/>
    <img [src]="" class="img-border"/>
  </div>
</div>